! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true


URxvt*foreground: #e8e4de
URxvt*background: #1e1a14
!URxvt*geometry: 80x30
URxvt*scrollBar: false

!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

! -- Fonts -- !
URxvt.font:xft:droid sans mono:pixelsize=11
URxvt.boldfont:xft:droid sans mono:Bold:pixelsize=11
